.Home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 90px 0px;
  color: #000;
}
.List {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  h1{
    grid-column: 1/4;
    text-align: center;
  }
}


@media (max-width: 1020px) {
  .List {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .List {
    grid-template-columns: 1fr;
  }
}
